body, ol, td, th {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
}

#header_div {
	width:100%;
	text-align:right;
}

.even { background: #CFCFCF; }

.odd { background: #DFFFF5; }

a no_link { 
	text-decoration:none;
	border-style:none;
	border: 0 none;
} 

img {
	border-style:none;
}

